# Python cache a dočasné soubory
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.swp
*.bak
*.tmp
*.log

# IPython / Jupyter
.ipynb_checkpoints/
*.ipynb~  # záložní soubory

# OS systémové soubory
.DS_Store
Thumbs.db



# Skryté metadata (např. VSCode)
.vscode/
.idea/

# Virtuální prostředí (pokud používáš)
env/
venv/
.venv/


# Případné velké datové soubory
/data/
